<p>
  Add Expenses
</p>
<div>
  Payer
  <select class="users" name="buyer" [(ngModel)]="tempExpense.paidBy">
    <option *ngFor="let user of users" [ngValue]="user">{{user.name}}</option>
  </select>
  Expense on
  <input type="text" class="form-control" id="name" name="name"
     required
     [(ngModel)]="tempExpense.expense" >
  Amount
  <input type="number" class="form-control" id="expense" name="expense"
        required
        [(ngModel)]="tempExpense.amount" >
  <button (click)="addExpense()">Add Expense</button>
</div>

<ul class="expenses">
  <li *ngFor="let expense of expenses"><button (click)="deleteExpense(expense)">Delete</button> Name:<span>{{expense.paidBy.name}}</span>, Amount: <span>{{expense.amount}}, On: {{expense.expense}}</span>
  </li>
</ul>
