<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<header>
  <button type="button" name="button" (click)="showUserf()">Add Users</button>
  <button type="button" name="button" (click)="showExpensef()">Add Expenses</button>
  <button type="button" name="button" (click)="showReportf()">See report</button>
</header>
<router-outlet ></router-outlet>
<app-manager-users *ngIf="showUser" [users]="users"></app-manager-users>
<app-expenses *ngIf="showExpense" [users]="users" [expenses]="expenses"></app-expenses>
<app-report *ngIf="showReport"></app-report>
