<p>
  Manage Users
</p>
<table>
  <tr>
    Name:
    <input type="text" class="form-control" id="name" name="name"
       required
       [(ngModel)]="tempUser.name" >
  </tr>
  <tr>
    E-Mail:
    <input type="text" class="form-control" id="mail" name="mail"
       required
       [(ngModel)]="tempUser.mail" [email]="true">
  </tr>
  <tr>
    <button (click)="addUser()">Add User</button>
  </tr>
</table>

<ul class="users">
  <li *ngFor="let user of users"><button (click)="deleteUser(user)">Delete</button> Name:<span>{{user.name}}</span>, Mail: <span>{{user.mail}}</span>
  </li>
</ul>
